{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>This page is private</h1>

<p>Welcome, {{ app.user.userIdentifier }}</p>

    <p>You can <a href="{{ path('app_logout') }}">logout</a>.</p>
{% endblock %}
